<html>
	<head>
		<title>Twitter Streaming Extractor Tool</title>
	</head>
	<body>
		<form action="/" method="post">
			<input name="terms" type="text" placeholder="Terms">
			<input name="quantity" type="number" placeholder="0">
			<button type="submit">Generate!</button>
		</form>
	</body>
</html>
